<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Seu Site</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="Stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<style>
@media only screen and (max-device-width: 900px) {
  body { width:100%; } 
}
@media only screen and (max-device-width: 900px) {
  body { width:600px; }
}
@media only screen and (max-device-width: 700px) {
  body { width:400px; }
}
</style>
  </head>
<body style="background-color: #00000;">

<div style="background-color: white; margin-top: 50px; height: 300px;">

<center>

<div class="card-deck" style="width: 550px; height: 200px;">
  <div class="card" style="background-color: #e8e3e3; margin-top: 50px; border-radius: 5px; border: 0px; margin-top: 70px; margin-bottom: 20px;">
    <div class="card-body">
      <h5 class="card-title" style="color: #262525; font-size: 43px;">70+</h5>
      <p class="card-text" style="color: #262525; font-size: 30px; margin-top: 1px;">Servers</p>
    </div>
  </div>
  <div class="card" style="background-color: #e8e3e3; margin-top: 50px; border-radius: 5px; border: 0px; margin-top: 70px; margin-bottom: 20px;">
    <div class="card-body">
      <h5 class="card-title" style="color: #262525; font-size: 43px;">24K+</h5>
      <p class="card-text" style="color: #262525; font-size: 30px; margin-top: 1px;">Users</p>
    </div>
  </div>
</div>
    </center>
  </div>
</div>
</body
</html>
