<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Seu Site</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="Stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  </head>
<body>

<div id="11">

<center>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">70+</h5>
      <p class="card-text">Servers</p>
    </div>
  </div>
  <div class="card2">
    <div class="card-body">
      <h5 class="card-title">24K+</h5>
      <p class="card-text">Users</p>
    </div>
  </div>
</div>
    </center>
  </div>
</div>
</body
</html>
